name: tests

on:
  push:
    branches: [master, main]
    tags-ignore: ['**']
    paths-ignore: ['**.md']
  pull_request:
    paths-ignore: ['**.md']

jobs:
  gitleaks:
    name: Gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with: {fetch-depth: 0}

      - name: Check for GitLeaks
        uses: gacts/gitleaks@v1 # Action page: <https://github.com/gacts/gitleaks>

  run-this-action:
    name: 'Run action (${{ matrix.kind }}, qemu: ${{ matrix.qemu }})'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kind: [testing, unstable]
        qemu: [true, false]
    steps:
      - uses: actions/checkout@v3

      - run: podman version

      - name: Run this action
        uses: ./
        with:
          kind: ${{ matrix.kind }}
          qemu: ${{ matrix.qemu }}

      - run: podman version

      - run: podman run hello-world
